

@import url('https://fonts.googleapis.com/css2?family=Candal&family=Open+Sans:wght@300;400;600&family=Oswald:wght@200;300&display=swap');



/* Reset CSS */

* {
    margin: 0;
    padding: 0;

}

h1, h2, p {
    margin: 100px 15px 15px 15px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Oswald', sans-serif;
}

/* Variáveis */

:root {
    --background-produtos: rgb(236, 236, 149); 
    
}

/* Nav bar */
nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

nav img {
    height: 36px;
    width: 36px;

}

nav div {
    margin-right: 100px;
}

nav a {
    color: #ffffff;
    font-family: 'Candal', sans-serif;
    text-decoration: none;
    padding: 7px;
}

#logo-link a:hover {
    border-bottom: transparent;
}


nav a:hover {
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    border-bottom: 3px solid rgb(65, 162, 253);
    transition-duration: 0.2s;
    
}




main {
    padding-bottom: 60px;
    margin: 35px 35px 35px 35px;
    z-index: 20;
}


.card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--background-produtos);

}

.centralizar div {
    display: flex;
    justify-content: center;
}
.centralizar h2 {
    text-align: center;
}


/* Footer */
.footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
    color: #ffffff;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    margin-top: 15em;
    width: 100%;
    border-top: 10px solid goldenrod;
}




